
body { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#f4f4f4; background:url(../images/_sitebg2.png) repeat; margin:0; padding:0; }
a, a:active, a:visited { color:#FFFFDD; font-weight:bold; outline: none; }
a:hover { color:#f4f4f4; }
.fdx_postfooter .fdx_prev { float:left; padding:0 11px; height:35px; line-height:35px; vertical-align:middle; border-right:1px solid #5f5f5f;position:relative; }
.fdx_postfooter .fdx_next { float:left; line-height:35px; vertical-align:middle; padding:0 14px 0 16px; height:35px; color:#FFF; text-decoration:none; text-shadow:  0 1px 0 #4C4C4C; border-right:1px solid #5f5f5f;}
.fdx_top { position:absolute; top:0; padding:0 16px 0 13px; right:0px; border-left:1px solid #4C4C4C;}
.fdx_article_pagination { list-style:none; background:#6b482a url(black/cat_heading.png) repeat-x center; color: #FFFFFF; font-weight: bold; font-size:15px; text-shadow: 0 1px 0 #3877bf; height:35px; line-height:35px; vertical-align:middle; position:relative; border-radius:8px 8px 0 0;  8px 0 0; }
.fdx_article_pagination .fdx_prev { float:right; padding:0 11px; height:35px; line-height:35px; vertical-align:middle; position:relative; text-shadow:  0 1px 0 #2e2e2e; }
.fdx_article_pagination .fdx_next { float:right; line-height:35px; vertical-align:middle; padding:0 10px 0 11px; height:35px; color:#FFF; text-decoration:none; text-shadow:  0 1px 0 #2e2e2e; border-left:1px solid #5f5f5f; text-shadow:  0 1px 0 #2e2e2e; }
.fdx_article_pagination a { color:#FFF; text-decoration:none; text-shadow:  0 1px 0 #6b482a; }
.fdx_article_pagination .fdx_date_link { position:absolute; top:0; padding:0 11px 0 11px; left:0px; border-right:1px solid #5f5f5f;text-shadow:  0 1px 0 #2e2e2e; }
.fdx_header { position:relative; }
.fdx_logo a { color:#f4f4f4; text-shadow: #333 0 1px 0; text-decoration:none; font-size:20px; font-weight:bold; }
.fdx_logo img { padding-bottom:5px; }
.fdx_social { position:absolute; bottom:10px; right:0px; text-align:right;  }
.fdx_social img { margin:0 1px 0 2px; }
.fdx_topnav { background:url(../images/_topnav.png) repeat-x top left; border:1px solid #4c4c4c; border-radius:8px; ; height:39px; overflow:hidden; }
.fdx_topnav ul li { list-style:none; display:block; float:left; padding:0 13px;line-height:40px;vertical-align:middle; }
.fdx_topnav ul li a { color:#333; font-size:15px; text-shadow: #fff 0 1px 0; text-decoration:none; }
.fdx_topnav ul li a:hover { text-decoration:none; color:#555; }
.fdx_topnav ul li img { display:inline; }
.fdx_topnav ul li img a { border:0; }
.fdx_topnav .fdx_home { padding:2px 13px 5px 12px; background:url(../images/topnavsep.png) no-repeat 40px 4px; background-position:40px 6px; }
.fdx_topnav .fdx_home:hover { opacity:0.8; filter:alpha(opacity=80); }
.fdx_contactlink { padding-left:10px; }
.fdx_catlink, .fdx_searchlink { padding-left:10px; background:url(../images/topnavsep.png) no-repeat right 4px; }
.fdx_topnav .fdx_cats { padding:9px 11px 5px 12px; }
.fdx_categories, .fdx_contact { display:none; margin:0 0 8px; border-top:0; }
.fdx_contact { position:relative; }
.fdx_search { margin:00 0 0 !important; display:none; }
.fdx_categories ul, .fdx_search ul, .fdx_contact ul { margin:0; padding:0; }
.fdx_dropdown { border:1px solid #4c4c4c; border-radius:0 0 8px 8px;  border-top:0; padding:10px; background:#292929; }
.fdx_categories li, .fdx_search li, .fdx_contact li { list-style:none; }
.fdx_topheading { list-style:none; background:#6b482a url(black/cat_heading.png) repeat-x center; color: #FFFFFF; font-weight: normal; font-size:15px; text-shadow:  0 1px 0 #6b482a; height:35px; vertical-align:middle; line-height:35px; text-indent:11px; position:relative; border-radius:8px 8px 0 0;  8px 0 0; font-weight:bold; }
.fdx_categories ul li { color:#f4f4f4; font-weight: normal; font-size:13px; padding:8px 35px 8px 8px; list-style:none; text-decoration:none; border:1px solid #4c4c4c; border-top:0; background:#292929 url(../images/icons/folderdark.png) no-repeat 288px 10px; }
.fdx_categories ul li:hover { background:#323232 url(../images/icons/folderdark.png) no-repeat 288px 10px; }
.fdx_categories ul li a { color:#f4f4f4 !important; text-decoration:none; font-weight:bold; }
.fdx_input { border:1px solid #4c4c4c; border-radius:4px;  background:#323232; padding:6px; font-weight:bold; font-size:14px; color:#fff; margin-bottom:8px; width:275px; }
.fdx_textarea { border:1px solid #4c4c4c; border-radius:4px;  background:#323232; padding:6px; margin-bottom:8px; width:275px; height:95px; font-weight:normal; font-size:14px; color:#f4f4f4; }
.fdx_contact_error { font-size:13px; padding:10px; border:1px solid #cf9090; background:#efd5d5; margin-top:10px; border-radius:8px; ; color: #280B0B; display:none; }
.fdx_contact_success { font-size:13px; padding:10px; border:1px solid #a2b78a; background:#e3efd5; margin-top:10px; border-radius:8px; ; color: #280B0B; display:none; }
.fdx_searchbar {width: 78%;height:25px; margin-top:8px; border:1px solid #4c4c4c; border-radius:8px; background:#292929; color: #fff; }
.fdx_content { background:#323232; border:1px solid #4c4c4c; border-top:0; border-bottom:0; }
.fdx_adtop {margin:0 0 10px;color:#fff;}
.fdx_adbottom {margin:10px 0 0;color:#fff;}
.fdx_clear { clear:both; margin:0; padding:0; }
.fdx_heading { border-bottom:1px solid #4c4c4c; font-size:14px; padding:10px 0; }
.fdx_postfooter { list-style:none; background:#6b482a url(black/cat_heading.png) repeat-x center; color: #FFFFFF; font-weight: bold; font-size:15px; text-shadow: 0 1px 0 #3877bf; height:35px; line-height:35px; vertical-align:middle; position:relative; border-radius:0 0 8px 8px;  }
.fdx_postfooter a { color:#FFF; text-decoration:none; text-shadow:  0 1px 0 #6b482a; }
 .fdx_top_arrow { position:absolute; top:4px; right:7px; }
.fdx_topicon { font-size:15px !important; padding:0 5px; }
.fdx_footer { text-align:center; margin-top:8px; padding:0; }
.fdx_even {padding-left:7px; background:#292929; border-bottom:1px solid #4c4c4c; }
.fdx_odd {padding-left:7px; background:#323232; border-bottom:1px solid #4c4c4c; }
.fdx_title { width:100%; padding-left:0;height:70px; display:table-cell; vertical-align:middle; padding-right: 22px }
.fdx_title a { font-size:14px; width:100%; text-decoration:none; color:#fff; text-shadow: #000 0 1px 0; }
.fdx_category { width:260px; }
.fdx_category a, .fdx_search a { font-size:12px; text-decoration:none; color:#f4f4f4; font-weight:normal; }
.fdx_more { position:absolute; right:0px; top:0px; width:25px; height:70px; background:url(../images/icons/folderdark.png) no-repeat center left; opacity:0.7; filter:alpha(opacity=70); }
.fdx_more:hover { opacity:1; filter:alpha(opacity=100); }
.fdx_more img { width:25px; height:70px; }
.fdx_page { border:1px solid #4c4c4c !important; border-top:0 !important; background:#292929; }
.fdx_article { padding:4px; font-size:14px; line-height:20px; border-bottom:1px solid #4c4c4c;}
.fdx_article p { padding:0; }
.fdx_article_data { float: left; margin-left: auto }
.fdx_article_data a {text-decoration:none;font-size:10px;color:#CECECE;border-radius:10px;padding:1px 3px 2px 3px;border:1px solid #AAAAAA; background: #141414}
.fdx_article_heading { font-size:16px; font-weight:bold; background:#292929; color:#fff; display:block; line-height:18px; vertical-align:bottom; padding:5px 10px 10px 10px; border-bottom:1px solid #4c4c4c; }
.fdx_article a { font-weight:normal; }
.fdx_article_title_text { display:table-cell; vertical-align:middle; height:50px; text-shadow:  0 1px 0 #333; font-weight:normal; font-size:16px; }
.fdx_article img { margin: 0; height: auto; max-width: 289px; width: auto; border:1px solid #4c4c4c; padding:1px; }
.fdx_article .attachment img { max-width: 289px; border:1px solid #4c4c4c; padding:1px; }
.fdx_article .alignleft, .fdx_article img.alignleft { display: inline; float: left; margin-right: 10px; margin-top: 4px; max-width: 150px; }
.fdx_article .alignright, .fdx_article img.alignright { display: inline; float: right; margin-left: 10px; margin-top: 4px; padding:1px; max-width: 150px; }
.fdx_article .aligncenter, .fdx_article img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; max-width: 289px; }
.fdx_article img.alignleft, .fdx_article img.alignright { margin-bottom: 12px; max-width: 150px; }
.fdx_article .wp-caption { line-height: 18px; margin-bottom: 5px; text-align: center; overflow:hidden; }
.fdx_article .wp-caption .aligncenter { max-width:280px; }
.fdx_article .aligncenter img { max-width:270px }
.fdx_article .wp-caption img { margin: 0; }
.fdx_article .wp-caption p.wp-caption-text { color: #f4f4f4; font-size: 11px; font-weight:bold; }
.wp-caption-dt { padding:0; margin:0; border:0; }
.fdx_article h1, .fdx_article h2, .fdx_article h3, .fdx_article h4, .fdx_article h5, .fdx_article h6, .fdx_article h7, .fdx_article h8 { display:block; margin:8px 0; padding:5px 0; clear:both; text-decoration:none !important; }
.fdx_article h1 { font-size:20px; padding:10px 0; }
.fdx_article h2 { font-size:18px; }
.fdx_article h3 { font-size:16px; }
.fdx_article h4 { font-size:14px; }
.fdx_article h5 { font-size:13px; }
.fdx_article h6 { font-size:12px; }
.fdx_article h7 { font-size:11px; }
.fdx_article h8 { font-size:10px; }
.fdx_article .wp-smiley { margin: 0 !important; padding:0 !important; border:0 !important; }
.fdx_article .gallery { margin: 0 auto 18px; max-width: auto; }
.fdx_article .gallery .gallery-item { float: left; margin-top: 0; text-align: center; width: 33%; max-width: auto; }
.fdx_article .gallery img { border:1px solid #4c4c4c; padding:1px; max-width: auto; }
.fdx_article .gallery .gallery-caption { color: #888; font-size: 12px; margin: 0 0 0 0; max-width: auto; }
.fdx_article .gallery dl { margin: 0; }
.fdx_article .gallery img { border: 10px solid #f1f1f1; }
.fdx_article .gallery br+br { display: none; }
.fdx_article .attachment img { display: block; margin: 0 auto; }
.fdx_article table { border: 1px solid #292929; margin: 0 -1px 24px 0; text-align: left; max-width:280px; overflow:hidden;}
.fdx_article tr th, .fdx_article thead th { color: #888; font-size: 12px; font-weight: bold; line-height: 18px; padding: 9px 24px; max-width:280px; }
.fdx_article tr td { border-top: 1px solid #292929; padding: 6px 24px; }
.fdx_article tr.odd td { background: #f2f7fc; }
.hentry { margin: 0 0 48px 0; }
.fdx_article p, .fdx_article ul, .fdx_article ol, .fdx_article dd, .fdx_article pre, .fdx_article hr { margin-bottom: 18px; }
.fdx_article ul ul, .fdx_article ol ol, .fdx_article ul ol, .fdx_article ol ul { margin-bottom: 0; }
.fdx_article pre, .fdx_article kbd, .fdx_article tt, .fdx_article var { font-size: 15px; line-height: 21px; }
.fdx_article code { font-size: 13px; }
.fdx_article dt, .fdx_article th { color: #000; }
object, embed { max-width:290px; }
.fdx_comments li { border-left:1px solid #4c4c4c; border-right:1px solid #4c4c4c; background:#292929; position:relative; }
.fdx_comments .odd { background:#323232; border-bottom:1px solid #4c4c4c; }
.fdx_comments .odd li { background:#292929; }
.fdx_comments .odd li ul li { background:#323232; }
.fdx_comments .odd li ul li ul li { background:#292929; }
.fdx_comments .odd li ul li ul li ul li { background:#323232; }
.fdx_comments .odd li ul li ul li ul li { background:#292929; }
.fdx_comments .even { border-bottom:1px solid #4c4c4c; }
.fdx_comments ul { padding:0; margin:0; }
.fdx_comments li { list-style:none; display:block; }
.fdx_comments li ul li { border:1px solid #4c4c4c; margin:10px; }
.fdx_comments_author { float:left; margin-right:10px; }
.fdx_comments_author img { border:1px solid #4c4c4c; background:#292929; padding:1px; }
.fdx_comments_title { list-style:none; position:relative; background:#6b482a url(black/cat_heading.png) repeat-x center; color: #FFFFFF; font-weight: normal; font-size:15px; text-shadow:  0 1px 0 #6b482a; height:35px; vertical-align:middle; line-height:35px; text-indent:11px; position:relative; border-radius:8px 8px 0 0;  8px 0 0; font-weight:bold; margin:0 5px; }
.fdx_comments_author_name { font-size:14px; font-weight:bold; padding:2px 0 5px; }
.fdx_comments_author_name a { color:#f4f4f4; text-decoration:none; }
.fdx_comments_pingback { background:#f8f8f8; border:1px solid #4c4c4c; padding:10px; border-top:0; font-weight:bold; }
.fdx_comments_pingback a { font-weight:normal; color:#f4f4f4; text-decoration:none; }
.fdx_comments_body a { font-weight:normal; }
.fdx_comments_reply { position:absolute; top:20px; right:0px; }
.fdx_comments_reply a {border-radius:10px; background:#6b482a; color: #FFFFFF; font-weight: normal; font-size:11px; text-decoration:none; padding:2px 5px 2px 5px; font-weight:normal; }
a.fdx_join_in { text-decoration:none; font-size:11px;border-radius:10px; padding:3px 6px; margin-left:3px; text-indent:4px; line-height:15px; position:absolute; top:8px; right:6px; background:#292929; color: #FFFFFF; text-shadow: 0 1px 0 #000000; }
.fdx_comments_end { height:5px; margin:4px 0 7px; clear:both; border-bottom:1px solid #4c4c4c; }
.fdx_comments_container { border:1px solid #4c4c4c; border-top:0; background:#292929; margin:0; padding:7px 7px 10px 7px; border-radius:0 0 4px 4px;  }
.fdx_nocomments { border:1px solid #4c4c4c; background:#f8f8f8; padding:10px; text-align:center; margin:5px; }
.fdx_comments_respond { list-style:none; background:#6b482a url(black/cat_heading.png) repeat-x center; color: #FFFFFF; font-weight: normal; font-size:15px; text-shadow:  0 1px 0 #6b482a; height:35px; vertical-align:middle; line-height:35px; text-indent:11px; position:relative; border-radius:4px 4px 0 0;  font-weight:bold; margin:0; position:relative; }
li .fdx_comments_respond { font-size:14px; margin:0; }
.fdx_commentform_input { border:1px solid #4c4c4c; border-radius:4px;  background:#323232; padding:6px; font-weight:bold; font-size:14px; color:#f4f4f4; margin-bottom:8px; width:95%; }
.fdx_commentform_textarea { border:1px solid #4c4c4c; border-radius:4px;  background:#323232; padding:6px; font-size:14px; color:#f4f4f4; margin-bottom:5px; width:95%; height:100px; }
.cancel-comment-reply { position:absolute; top:0; right:7px; }
.cancel-comment-reply a { text-decoration:none; font-size:11px; background:#292929; color:#fff; border-radius:8px; ; padding:3px 6px; margin-left:3px; text-indent:4px;line-height:15px; text-shadow:  0 1px 0 #000; }
.fdx_logged { border-radius:4px;  border:1px solid #4c4c4c; background:#323232; padding:8px; margin-bottom:8px; font-size:12px; }
.fdx_logged a { font-weight:normal; }
a.fdx_admin_logged { }
a.fdx_admin_logout { color:white; }
.fdx_article ul li { list-style:square; padding-left:10px; list-style-position:inside; }
.fdx_article ol li { list-style:decimal; padding-left:10px; list-style-position:inside; }
blockquote { border:1px solid #4c4c4c; border-left:5px solid #4c4c4c; background:#292929; padding:5px 8px 5px 15px; margin:8px 5px; font-size:13px; }
blockquote p { margin:5px 0 5px 0; padding:0; }
.fdx_comments-navigation { clear:both; display:block; margin:10px 0; }
.fdx_comments-navigation .fdx_alignleft { float:left; }
.fdx_comments-navigation .fdx_alignright { float:right; }
.fdx_comments-navigation a { color:#fff; font-size:12px; border:1px solid #4C4C4C; background:#292929; padding:5px 10px; text-decoration:none; }
.fdx_switch { font-family:Arial, Helvetica, sans-serif; padding:5px 0; border:1px solid #4c4c4c; border-radius:8px; ; background:#292929; margin-top:8px; position:relative; color:#FFF; }
.fdx_switch .fdx_switch_text { text-indent:10px; font-size:14px; vertical-align:middle; line-height:28px; height:28px; margin-right:10px; font-weight:bold; text-align: center; }
.fdx_switch .fdx_switch_text a{ text-decoration: none; }
.darkform {background-color: #323232; border: 1px solid #4C4C4C; color: #FFFFFF;}
  /* tag */
span.tags{width:auto;position:relative;cursor:pointer;float:left;margin:5px 5px 0 0;padding:0;}
span.tags a{background:#545454 url('../images/tag2.png') left no-repeat;font-size:10px;color:#fff;height:16px;padding:0 6px 1px 14px;}
span.tags a {text-decoration: none;}

/* wp default css */
.comment-form-author input, .comment-form-email input, .comment-form-url input { float: left; border:1px solid #4c4c4c;border-radius:4px;background:#323232; padding:6px;font-weight:bold;font-size:14px;color:#f4f4f4;margin-bottom:8px;width:97%;    }
